<div class="motd-menu">
    <ul>
        <li style="background: #8461AD;float: left;list-style: none;position: relative;padding: 35px 65px;text-decoration: none;"><a href="/rules/">Rules</a></li>
        <li style="background: #8461AD;float: left;list-style: none;position: relative;padding: 35px 65px;"><a href="/r/">Russian</a></li>
        <li style="background: #8461AD;float: left;list-style: none;position: relative;padding: 35px 65px;"><a href="/about/">About</a></li>
        <li style="background: #8461AD;float: left;list-style: none;position: relative;padding: 35px 65px;"><a href="/blog/">Blog</a></li>
    </ul>
</div>